@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

body {
  font-family: "Jost", sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', "Caveat", cursive;
}

.nav-text {
  font-family: "Caveat", cursive;
}

.nav-link {
  font-family: 'Caveat', cursive;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

body,
html {
  scroll-behavior: smooth;
}

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for continuous background effect */
@keyframes moveBackground {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-moveBackground {
  background-size: 200% 200%;
  animation: moveBackground 15s linear infinite;
}

/* index.css */
@keyframes starfield-background {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

.starfield-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.starfield-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 100%);
  animation: starfield-background 100s linear infinite;
  z-index: -1;
}


